$title-space: 40px;
$not-black: #39e600;

.page-title {
	color: $not-black;
	text-shadow: 2px;
	margin-top: $title-space;
	margin-bottom: $title-space;
}

input[type=search] {
	box-shadow: none;
}

// .bcolor {
// 	background: #87e0fd; /* Old browsers */
// 	background: -moz-linear-gradient(top,  #87e0fd 0%, #05abe0 43%); /* FF3.6-15 */
// 	background: -webkit-linear-gradient(top,  #87e0fd 0%,#05abe0 43%); /* Chrome10-25,Safari5.1-6 */
// 	background: linear-gradient(to bottom,  #87e0fd 0%,#05abe0 43%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */

// }

// .button {
// 	color: $not-black
// }